@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Krona+One&family=Roboto&display=swap');

body{
    background: #242121;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.flex{
    display: flex;
}

.clmn{
    flex-direction: column;
}

.sb{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
}

.aicenter{
    align-items: center;
}

.g-20{
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}

.red{
    color: #FC7987 ;
}

h1{
    font-size: 70px;
    font-family: 'Fascinate Inline', cursive;
}

h2{ 
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}

nav{
    padding: 20px;
}

section{
    width: 90%;
}

a{
    color: rgba(255, 255, 255, 0.539);
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline 2px #FC7987;
}

button{
    background: none;
    border: 2px solid #FC7987;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: rgba(255, 255, 255, 0.539);
    font-size: 20px;
}

button:hover{
    color: white;
    text-decoration: underline 2px #FC7987;
}

.blur{
    position: absolute;
    right: -500px;
    bottom: -400px;
    width: 664px;
    height: 491px;
    background: rgba(215, 96, 109, 0.6);
    filter: blur(420px);
}

/* version tablette */
@media (max-width: 992px) {

    .telclmn{
        flex-direction: column;
    }

    article, section{
        gap: 20px;
    }

    .logo{
        width: 40%;
        align-self: center;
    }
    
  }
  
  /* version mobile */
  @media (max-width: 768px) {

        body{
            overflow: visible;
        }

        .blur{
            display: none;
        }

        h1{
            font-size: 45px;
        }

        h2{
            font-size: 30px;
        }

        button{
            width: 125px;
        }

        p{
            font-size: 15px;
        }
  }