section{
    width: 90%;
}

body{
    overflow: hidden;
}

.blur{
    position: absolute;
    right: -500px;
    bottom: -400px;
    width: 664px;
    height: 491px;
    background: rgba(215, 96, 109, 0.6);
    filter: blur(420px);
}

/* version tablette */
@media (max-width: 992px) {

    .telclmn{
        flex-direction: column;
    }

    article, section{
        gap: 20px;
    }

    .logo{
        width: 40%;
        align-self: center;
    }
    
  }
  
  /* version mobile */
  @media (max-width: 768px) {
        h1{
            font-size: 45px;
        }

        h2{
            font-size: 30px;
        }

        button{
            width: 125px;
        }
  }