
body{
    height: 100vh;
}

main{
    height: 80%;
}

article{
    font-size: 20px;
}

article div {
    width: 500px;
}

.scroll{
    overflow: scroll;
}

 a img {
    width: 100%;
}

h3{
    font-size: 25px;
    margin-bottom: 5px;
}

 @media (max-width: 550px) {
    article div {
        width: 400px;
    }
 }

 @media (max-width: 500px) {
    article div {
        width: 350px;
    }
 }

 @media (max-width: 450px) {
    article div {
        width: 300px;
    }
 }